@model  IPagedList<WebMVC_PT.Full_Contract>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;

<h2>DANH SÁCH HỢP ĐỒNG</h2>

<p>
    @Html.ActionLink("Thêm hợp đồng", "Create", null, new { @class = "btn btn-primary" })
    @using (Html.BeginForm("Index", "FullContract", FormMethod.Get))
    {
        <div class="input-group">
            <div><input type="text" name="strSearch" class="form-control" placeholder="Nhập mã hợp đồng" /></div>
            <div><button type="submit" class="btn btn-primary" value="Search">Tìm kiếm</button></div>
        </div>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Full_Contract_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Year_Of_Birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SSN)

        <th>
            @Html.DisplayNameFor(model => model.First().Customer_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Mobile)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(s=>s.Full_Contract_Code))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Full_Contract_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year_Of_Birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>

            <td>
                @Html.ActionLink("Sửa", "Edit", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Chi tiết", "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Xóa", "Delete", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary" })

            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "FullContract", new { i, search = Request.QueryString["search"] }))

